html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--primary-color-text);
}

.desktop {
  width: 1024px;
  height: 576px;
  background-color: var(--background-color);
}
.desktopContainer {
  background: var(--neutral-2);
  height: 100%;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.presencePreview{
  padding: 10px;
  width: auto;
  display: flex;
  background-color: #131313;
  border-radius: 5px;
  margin: 5px;
  gap: 20px;
}

input{
  width: 300px;
  background:transparent;
  border: 2px solid white;
  color: white;
  padding: 2px;
}


input:hover{
  background-color: black;
}