html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--primary-color-text);
}

.desktop {
  width: 1024px;
  height: 576px;
  background-color: var(--background-color);
}
.desktopContainer {
  background: var(--neutral-2);
  height: 100%;
  display: flex;
  flex-direction: column;
}